@charset "utf-8";
/* CSS Document */
html,body {
	padding:0;
	margin:0;
}
h2 {
	text-align:center;
	font-size:40px;
	font-weight:700;
}
.header__first {
	color:#96C;
}
.header__second {
	color:#F96;
	text-decoration:underline;
}

